*{
    font-size: 36px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    table-layout: auto;
    padding: 0%;
}

img{
    padding: 0;
}

.gfg{
    position: relative;
}


h1 {
    margin: 0;
    
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
  }

  .container {
    position: relative;
    text-align: center;
    color: white;
    padding: 0%;
  }

.centerdleft{
    position: absolute;
    top:50%;
    left: 5%;
    transform: translate(-50%, -50%);
}

.centerdright{
    position: absolute;
    top:50%;
    right: 0%;
    transform: translate(-50%, -50%);
}

div{
    color: green;
    padding: 0%;
}

h2 {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
    margin-top: 5px;
}

main {
    margin: 0 auto;
    padding-left: 0%;
    padding-top: 20px;
    padding-right: 0%;
    padding-bottom: 20px;
    background-color: #333;
}

h3 {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 20px;
}

p {
    font-size: 25px;
        line-height: 1.5;
        margin-bottom: 20px;
        background-color: #333;
        color: whitesmoke;
    }

video.center {

    display: block;
    
    margin-left: auto;
    
    margin-right: auto;
    
    }

footer {
    background-color: #545454;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 14px;
}

figcaption {
text-align: center;
font-size: 18px;
font-weight: bold;
color: white;
background-color: rgba(0, 0, 0, 0.5);
padding: 10px;
}

br,hr{
    padding: 0%;
}

.logo{
        width: 200px;
        height: 200px;
        transition: width 1s, height 1s, transform 1s;
}

.logo:hover{
    
    transform: rotate(360deg);
  }

.button{
    background-color: #333;
}

.center {
  margin: auto;
  width: 50%;
  padding: 0px;
}

.centera {
    margin:auto;
    width: 50%;
  }
